.header {
    padding: 1em 0 1em 0;
}

.header-pic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 6em;
}

#sticky-bar {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    padding: 0;
    -webkit-transition: box-shadow .5s, font-size 1s, background-color .5s; /* Safari */
    transition: box-shadow .5s, font-size 1s, background-color .5s;
}


.nav-name {
    transform: translateX(0);
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-name.hidden {
    transform: translateX(-47%);
}

.nav-name li {
    display: inline-block;
    opacity: 1;
}

.nav-name.hidden li.spaced {
    padding-left: 0;
}

.nav-name li.spaced {
    padding-left: 0.5em;
}

.nav-name.hidden li.ghost {
    font-size: 0;
    opacity: 0;
}

/*nav-name above, nav-menu below*/
.nav-menu {
    transform: translateX(0);
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    transition: all 1s ease-in-out;
}

.nav-menu li {
    display: inline-block;
    opacity: 1;
}

